@import "mixins";

.react-datepicker {
  font-family: sans-serif;
  font-size: 14px;
  background-color: #fff;
  color: #000;
  border: 1px solid #e5e5e5;
  display: inline-block;
  position: relative;
  padding: 4px;

  .header {
    text-align: center;
    background-color: #359b1d;
    color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    font-weight: 700;

    div {
      cursor: pointer;
    }
  }

  .navigation {
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 8px;
    width: 0;
    border: 6px solid transparent;

    &--previous {
      left: 10px;
      border-right-color: #fff;

      &:hover {
        border-right-color: darken(#fff, 10%);
      }
    }

    &--next {
      right: 10px;
      border-left-color: #fff;

      &:hover {
        border-left-color: darken(#fff, 10%);
      }
    }

    &--years {
      position: relative;
      top: 0;
      display: block;
      margin-left: auto;
      margin-right: auto;

      &-previous {
        top: 4px;
        border-top-color: #fff;

        &:hover {
          border-top-color: darken(#fff, 10%);
        }
      }

      &-upcoming {
        top: -4px;
        border-bottom-color: #fff;

        &:hover {
          border-bottom-color: darken(#fff, 10%);
        }
      }
    }
  }

  .months,
  .years {
    max-width: 217px;

    .month,
    .year {
      display: inline-block;
      text-align: center;
      width: 50px;
      line-height: 50px;
      margin: 2px;

      &.active {
        background-color: #f6961c;
        color: #fff;
      }

      &:hover {
        background-color: #f6961c;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  .react-datepicker__input-container {
    position: relative;
    display: inline-block;
  }

  .close-icon {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    height: 0;
    outline: 0;
    padding: 0;
    vertical-align: middle;

    &::after {
      background-color: #216ba5;
      border-radius: 50%;
      bottom: 0;
      box-sizing: border-box;
      color: #fff;
      content: "\00d7";
      cursor: pointer;
      font-size: 12px;
      height: 16px;
      width: 16px;
      line-height: 1;
      margin: -8px auto 0;
      padding: 2px;
      position: absolute;
      right: 7px;
      text-align: center;
      top: 50%;
    }
  }

  .react-datepicker__tether-element {
    z-index: 2147483647;
  }

  .day-name,
  .day {
    display: inline-block;
    width: 27px;
    line-height: 27px;
    text-align: center;
    margin: 2px;
  }

  .day {
    cursor: pointer;
    background-color: #ebebeb;

    &:hover {
      background-color: #f6961c;
      color: #fff;
    }

    &--today {
      font-weight: bold;
    }

    &--outside-month {
      background-color: #fff;
    }

    &--selected,
    &--in-range {
      background-color: #f6961c;
      color: #fff;

      &:hover {
        background-color: darken(#f6961c, 5%);
      }
    }

    &--disabled {
      cursor: default;
      color: #fff;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

.triangle {
  position: absolute;
  left: 50px;
}

.react-datepicker__tether-element-attached-top .triangle {
  @extend %triangle-arrow-up;
}

.react-datepicker__tether-element-attached-bottom .triangle {
  @extend %triangle-arrow-down;
}

.react-datepicker__tether-element-attached-bottom.react-datepicker__tether-element {
  margin-top: -20px;
}
